.isDragging {
  z-index: 2;
  margin: auto;
  max-width: 17rem;
  max-height: 12rem;
  display: flex;
  color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  filter: brightness(100%);
}
.active {
  position: absolute;
  left: 40%;
}
