.isDragging {
  z-index: 2;
  width: 25rem;
  max-height: 12rem;
  display: flex;
  color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  filter: brightness(100%);
}
