.isDragging {
  z-index: 2;
  width: 25rem;
  /* height: 100%; */
  max-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 33%;
  filter: brightness(100%);
}

